@model HMIS_AC.Models.Patient
@{
    ViewBag.Title = "Add Patient";
}









  
    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_post">

        <!--begin::Container-->
        <div id="kt_content_container" class="container">

            <!--begin::Basic info-->
            <div class="shadow-lg shadow-success p-3 mb-10 bg-body rounded">

                <div class="d-flex ">

                    <!--begin::Card header-->
                    <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">
                        <!--begin::Card title-->


                        <div class="card-title m-0">

                            <h3 class="fw-bolder m-0">Profile Details</h3>

                        </div>
                        <!--end::Card title-->
                    </div>

                </div>
                <!--begin::Card header-->
                <!--begin::Content-->
                <div id="kt_account_profile_details" class="collapse show">
                    <!--begin::Form-->
                    <form id="kt_account_profile_details_form" action="/Patient/EditPatient"  method="post" class="form" enctype="multipart/form-data">
                         @Html.AntiForgeryToken()


                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <!--begin::Card body-->
                        <div class="card-body border-top p-9">
                                <input type="text" name="PatientId" value="@Model.PatientId"  required hidden/>

                            <!--begin::Input group-->
                            <div class="row mb-6" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-dark" data-bs-dismiss="click" data-bs-placement="top" title="الاسم">
                                <!--begin::Label-->
                                <label class="col-lg-3 col-form-label required fw-bold fs-6">Full Name</label>
                                <!--end::Label-->
                                <!--begin::Col-->
                                <div class="col-lg-9">

                                    <input type="text" name="PatientName" value="@Model.PatientName" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="First name"  required/>
 
                                    
                                </div>
                                <!--end::Col-->
                            </div>
                            <!--end::Input group-->
                            <!--begin::Input group-->
                            <div class="row mb-6" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-dark" data-bs-dismiss="click" data-bs-placement="top" title="الرقم القومى">
                                <!--begin::Label-->
                                <label class="col-lg-3 col-form-label required fw-bold fs-6">National ID</label>
                                <!--end::Label-->
                                <!--begin::Col-->
                                <div class="col-lg-9">

                                    <input type="text" name="PatientNid" value="@Model.PatientNid" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="National ID"  required/>


                                </div>
                                <!--end::Col-->
                            </div>
                            <!--end::Input group-->
                            <!--begin::Input group-->
                            <div class="row mb-6" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-dark" data-bs-dismiss="click" data-bs-placement="top" title=" العنوان">
                                <!--begin::Label-->
                                <label class="col-lg-3 col-form-label required fw-bold fs-6">Address</label>
                                <!--end::Label-->
                                <!--begin::Col-->
                                <div class="col-lg-9 fv-row">

                                    <input type="text" name="PatientAddress" value="@Model.PatientAddress" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="Address" />

                                </div>
                                <!--end::Col-->
                            </div>
                            <!--end::Input group-->
                            <!--begin::Input group-->
                            <div class="row mb-6" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-dark" data-bs-dismiss="click" data-bs-placement="top" title="الايميل">
                                <!--begin::Label-->
                                <label class="col-lg-3 col-form-label  fw-bold fs-6">Email</label>
                                <!--end::Label-->
                                <!--begin::Col-->
                                <div class="col-lg-9 fv-row">

                                    <input type="text" name="PatientEmail" value="@Model.PatientEmail" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="Email" />

                                </div>
                                <!--end::Col-->
                            </div>
                            <!--end::Input group-->
                           
                          
                           
                            <!--begin::Input group-->
                            <div class="row mb-6">
                                <!--begin::Label-->
                                <label class="col-lg-3 col-form-label required fw-bold fs-6">Telephone</label>
                                <!--end::Label-->
                                <!--begin::Col-->
                                <!--begin::Col-->
                                <div class="col-lg-9 fv-row">
                                    <div class="row">
                                        <!--begin::Col-->
                                        <div class="col-lg-6 fv-row">


                                            <input type="text" name="PatientTel1" value="@Model.PatientTel1" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"  placeholder = "Telephone(1)" pattern="01[0-2,5]{1}[0-9]{8}"  required/>
                                        </div>
                                        <!--end::Col-->
                                        <div class="col-lg-6 fv-row">

                                            <input type="text" name="PatientTel2" value="@Model.PatientTel2" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"  placeholder = "Telephone(2)" pattern="01[0-2,5]{1}[0-9]{8}"  />

                                        </div>
                                        

                                    </div>

                                </div>
                                <!--end::Col-->
                                <!--end::Col-->
                            </div>
                            <!--end::Input group-->
                            
                            <!--begin::Input group-->
                            <div class="row mb-6">
                                <!--begin::Label-->
                                <label class="col-lg-3 col-form-label fw-bold fs-6">Gender</label>
                                <!--end::Label-->
                                <!--begin::Col-->
                                <div class="col-lg-9 fv-row">
                                    <div class="row">
                                        <div class="col-lg-3 fv-row">
                                            @Html.DropDownListFor(model => model.PatientGender, new List<SelectListItem>
                                                              {
                                                                     new SelectListItem{ Text="Male", Value = "M"},
                                                                     new SelectListItem{ Text="Female", Value = "F" },
                                                              }, new { @class = "form-select form-select-solid form-select-lg", @data_val = "true", @required = "required" /*, @id= "status"*/ })
                                            

                                        </div>
                                       
                                    </div>
                                </div>
                                <!--end::Col-->
                            </div>
                            <!--end::Input group-->
                         
                                                    <!--begin::Card footer-->
                            <div class="card-footer d-flex justify-content-end py-6 px-9">
                                <button class="btn btn-primary px-6" type="submit">Edit Patient</button>

                            </div>
                            <!--end::Card footer-->
                        </div>
                        <!--end::Card body-->

                    </form>
                    <!--end::Form-->
                </div>
                <!--end::Content-->
            </div>
            <!--end::Basic info-->
   

        </div>
        <!--end::Container-->
    </div> <!--end::Post-->





